* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Google Sans Flex", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 50%;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}
select,
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #373f4e;
  color: white;
}
tr:hover {
  background-color: #f1f1f1;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M4 6l4 4 4-4z"/></svg>')
    no-repeat right 10px center;
  background-size: 12px;
}
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
select option {
  padding: 10px;
}
select option:hover {
  background-color: #f1f1f1;
}
select option:checked {
  background-color: #007bff;
  color: white;
}
